.sidebarContent {
    height: 100%;
    width: 300px;
    background-color: #333333;
}

.sidebarContent header {
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #9B9B9B;
}

.sidebarContent header .logo {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sidebarContent footer {
    text-align: center;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
    color: #9B9B9B;
    font-family: 'Inconsolata', sans-serif;
}

.sidebarContent footer i {
    margin-left: 4px;
    margin-right: 4px;
}

.sidebarContent footer .blinking-cursor {
    font-weight: 100;
    font-size: 12px;
    animation: 1s blink step-end infinite;
}

.sidebarContent article {
    color: #9B9B9B;
    font-size: 14px;
    padding: 20px;
    line-height: 30px;
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: #9B9B9B;
    }
}